
<div class="col-6 border p-3" @onclick="(e)=>addname(e,product.Name)">
	<h3 class="text-primary">Product -@product.Id</h3>
	<hr />
	<p>Add To Fav : <input type="checkbox" @onchange="addtofav"/> </p>

	<p >Product Name : @product.Name</p>
	<p>Show Prop : <input type="checkbox" @bind="product.IsActive" @bind:event="oninput" /> </p>
	@if (product.IsActive)
	{
		<p> @product.Name</p>
		<p> @product.price</p>
		<p>@(product.IsActive ? "Active" : "In Active")</p>
	}
	<_deleteButton Id="@product.Id"></_deleteButton>
</div>
@code {
	[Parameter]
	public Product product { get; set; }
	[Parameter]
	public EventCallback<bool> OnFavUpdate { get; set; }
	[Parameter]
	public EventCallback<string> SeletedName { get; set; }
	private  async Task addtofav(ChangeEventArgs e)
	{
		await OnFavUpdate.InvokeAsync((bool)(e.Value));
	}
	private async Task addname(MouseEventArgs e, string a)
	{
		await SeletedName.InvokeAsync(a);
	}
}
